.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  margin: 0;
  border-bottom: 2px solid #f4f3ef;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.logoText {
  font-size: 20px;
  margin-left: 10px;
}
